<app-insite-header></app-insite-header>

<div class="container mx-auto py-8">
    <div class="text-center mt-24">
        <h1 class="text-3xl font-bold mb-4 underline">Users Project - Server</h1>
    </div>
    <div class="p-8">
        <h2 class="text-xl mb-4 font-bold">Server Overview</h2>
        <ul class="list-disc pl-6 mb-4">
            <li class="text-lg">Login and registration system using
                <a href="https://learn.microsoft.com/en-us/azure/architecture/best-practices/api-design" Target=”_Blank”
                    class="text-blue-500">RESTful API for CRUD operations</a>.
            </li>
            <li class="text-lg">Working with emails using
                <a href="https://sendgrid.com/" Target=”_Blank” class="text-blue-500">SendGrid</a>
                for sending and receiving emails.
            </li>
            <li class="text-lg">Using
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" Target=”_Blank”
                    class="text-blue-500">Microsoft SQL Server</a>
                database and DbContext for storing and managing user data.
            </li>
            <li class="text-lg">Enabling
                <a href="https://learn.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-7.0"
                    Target=”_Blank” class="text-blue-500"> CORS</a>
                (Cross-Origin Resource Sharing) to allow communication between the server
                and the client.
            </li>
            <li class="text-lg"><a href="https://learn.microsoft.com/en-us/azure/active-directory/develop/access-tokens"
                    Target=”_Blank” class="text-blue-500">Token</a>
                authentication for securing API endpoints and user sessions.</li>
            <li class="text-lg">Implementing server-side
                <a href="https://learn.microsoft.com/en-us/aspnet/web-api/overview/formats-and-model-binding/model-validation-in-aspnet-web-api"
                    Target=”_Blank” class="text-blue-500">
                    validations </a> for data input verification and error handling.
            </li>
            <li class="text-lg">Using <a
                    href="https://learn.microsoft.com/en-us/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-5"
                    Target=”_Blank” class="text-blue-500">DTOs</a>
                (Data Transfer Objects) for data validation and to define the contract
                between the client and server.</li>
            <li class="text-lg">Using <a
                    href="https://learn.microsoft.com/en-us/dotnet/api/system.environment?view=net-7.0" Target=”_Blank” class="text-blue-500">
                    environment
                </a> and
                <a href="https://learn.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration?view=dotnet-plat-ext-7.0"
                    Target=”_Blank” class="text-blue-500">
                    configuration</a> files for managing application settings and
                deployment configurations.
            </li>
            <li class="text-lg">Implementing
                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interface"
                    Target=”_Blank” class="text-blue-500">
                    interfaces</a> for defining contracts and achieving loose coupling.
            </li>
            <li class="text-lg">Using built-in <a
                    href="https://learn.microsoft.com/en-us/dotnet/api/system.attribute?view=net-7.0" Target=”_Blank”
                    class="text-blue-500">attribute</a> classes for applying validation rules, such as Required,
                StringLength, etc.</li>
            <li class="text-lg">Utilizing the <a
                    href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-7.0"
                    Target=”_Blank” class="text-blue-500">
                    wwwroot</a> folder to serve static files, such as HTML, CSS, JavaScript, and
                images.</li>
        </ul>
    </div>
</div>


<div class="container mx-auto py-4">
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4 underline">Users Project - Client</h1>
    </div>
    <div class="p-8">
        <h2 class="text-xl mb-4 font-bold">Client Overview</h2>
        <ul class="list-disc pl-6 mb-4">
            <li class="text-lg">Implementing authorization and authentication using AuthGuard in the client application
                with <a href="https://angular.io/api/router/CanActivate" Target=”_Blank”
                    class="text-blue-500">canActivate</a> for route protection.</li>
            <li class="text-lg">Using Angular's
                <a href="https://angular.io/api/common/http/HttpClient" Target=”_Blank” class="text-blue-500">
                    HttpClientModule</a> for making HTTP requests from the Angular client to the
                API.
            </li>
            <li class="text-lg">Using <a href="https://sweetalert2.github.io/" Target=”_Blank” class="text-blue-500">
                    Swal </a> (SweetAlert) library for displaying user-friendly alerts and notifications in
                the client application.</li>
        </ul>
    </div>
</div>